$blue: #4c8bf7;
$border-blue: #4077d6;
$hover-blue: #4D85E6;

$border-grey: #dbdedf;

$primary: #2e3640;
$cancel: #92989b;

$fc: #fcfcfc;
$f2: #f2f2f2;
$f5: #f5f5f5;

body {
    background: $f5;
}

.column-styles {
    font-family: 'PT Sans';
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border: 1px solid $border-grey;
    border-radius: 10px;

    background: #dadada;

    &-text {
        font-weight: 700;
        font-size: 24px;
        margin-bottom: 20px;
    }
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, button, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, i, iframe, img, input, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, textarea, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'PT Sans';
    vertical-align: baseline;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
}

.button-input {    
    
    &-inner {
        display: inline-flex;
        align-items: center;
        position: relative;
    }

    position: relative;
    z-index: 1;
    display: inline-block;
    max-height: 38px;
    padding: 10px;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    white-space: nowrap;
    vertical-align: middle;
    text-decoration: none;
    border-radius: 3px;
    outline: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    color: $primary;
    border: 1px solid #dbdedf;
    background: $fc;

    &:active {
        transform: translateY(1px);
    }


    &.button-input_blue {
        border: 1px solid $border-blue;
        background: $blue;
        color: #fff;

        &.outlined {
            color: $border-blue;
            border: 1px solid $border-blue;
            background: $f2;
    
            &:hover {
                color: #fff;
                background: $blue;
                border: 1px solid $border-blue;
            }
        }

        &:hover {
            background: $hover-blue;
        }

        &.mini {
            font-weight: 400;
            padding: 7px 16px;
        }
    }

    &.button-cancel {
        display: inline-block;
        font-size: 14px;
        font-weight: 700;
        color: $cancel;
        padding: 8px;
        text-align: center;
        cursor: pointer;
        outline: 0;
        line-height: 14px;
        vertical-align: middle;
        white-space: nowrap;

        background: 0 0!important;
        border: 0!important;
    }

    &.button-input-disabled {
        cursor: default;
        color: $primary;
        opacity: .6;
        border: 1px solid $border-grey;
        background: $fc;

        &:active {
            transform: none;
        }
        
    }

    &.button-input_white {
        display: flex;
        justify-content: center;
        margin-bottom: 14px;
        color: #fff;
        background: 0 0;
        border: 1px solid #fff;
        border-bottom-width: 2px;
        height: 37px;
    }
    

}

.svg-icon {

    &-block {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    &.add {
        background-size: cover;

        &.white {
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.82353 0H6.17647V6.17647L0 6.17647V7.82353H6.17647V14H7.82353V7.82353H14V6.17647L7.82353 6.17647V0Z' fill='white'/%3e%3c/svg%3e");
        }
        &.black {
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.82353 0H6.17647V6.17647L0 6.17647V7.82353H6.17647V14H7.82353V7.82353H14V6.17647L7.82353 6.17647V0Z' fill='%232E3640'/%3e%3c/svg%3e ");
        }
        &.blue {
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.82353 0H6.17647V6.17647L0 6.17647V7.82353H6.17647V14H7.82353V7.82353H14V6.17647L7.82353 6.17647V0Z' fill='%234C8BF7'/%3e%3c/svg%3e ");
        }    
    }

    &.checkbox {
        &.active{
            position: absolute;
            display: none;
            top: 0;
            left: 0;
            height: 18px;
            width: 18px;
            background-size: cover;
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M20.1998 5.775C20.1998 6.43775 15.5998 13.575 13.0998 17.475C12.5007 18.4096 12.3998 18.775 11.0998 18.775C9.7998 18.775 4.7998 12.675 4.7998 11.675C4.7998 10.675 5.38184 10.375 6.0998 10.375C6.81777 10.375 10.3998 13.175 11.0998 13.175C11.4998 13.175 17.5785 5.18353 18.5998 4.775C19.2998 4.49501 20.1998 5.11226 20.1998 5.775Z' fill='%232E3640'/%3e%3c/svg%3e");
        }
    }

    &.delete {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M6.09999 0.5C5.76862 0.5 5.49999 0.768629 5.49999 1.1V1.7H10.5V1.1C10.5 0.768629 10.2314 0.5 9.89999 0.5H6.09999Z' fill='%23F26E6E'/%3e%3cpath d='M2.59999 2.3C2.21339 2.3 1.89999 2.6134 1.89999 3V3.7H14.1V3C14.1 2.6134 13.7866 2.3 13.4 2.3H2.59999Z' fill='%23F26E6E'/%3e%3cpath d='M6.69999 4.9L7.29999 12.9H6.09999L5.49999 4.9H6.69999Z' fill='%23F26E6E'/%3e%3cpath d='M8.69999 12.9L9.29999 4.9H10.5L9.89999 12.9H8.69999Z' fill='%23F26E6E'/%3e%3cpath d='M3.29999 4.9H1.89999L2.89999 14.3C2.99999 14.7 3.29999 15.5 4.29999 15.5H11.7C12.7 15.5 13 14.7 13.1 14.3L14.1 4.9H12.7L11.7 14.3H4.29999L3.29999 4.9Z' fill='%23F26E6E'/%3e%3c/svg%3e");
        background-size: cover;
    }
}

.control-checkbox__helper{
    border: 1px solid $border-grey;
    position: relative;
    width: 18px;
    height: 18px;

    z-index: 3;
    background-color: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    & input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        &:checked ~ .svg-icon.checkbox.active {
            display: block;
        }
    }
}